*{
    margin:0;
    padding:0;
    text-align: center;
    background-color:#27445D;
    color:#D8C4B6;
    overflow: hidden;
}

h1{
    font-family:Big Shoulders Inline;
    font-size:6vh;
    font-weight: bold;
    padding-top:10px;
    
}

.choice{
    height:165px;
    width:165px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top:5rem;
}

.choice:hover{
    cursor:pointer;
    background-color:black;
}

img{
    height:160px;
    width:160px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display:flex;
    justify-content: center;
    align-items:center;
    gap:3rem
}

.sc-board{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:4rem;
    margin-top: 5rem;
    gap:4rem;
    font-family:Big Shoulders Stencil;
}

#user-score,
#comp-score{
    font-size: 4rem;
}

.board{
    display:flex;
}

.result{
    margin-top: 4rem;
    
}


#msg{
    background-color:#872341;
    font-size: 2rem;
    display: inline;
    padding: 20px;
    border-radius: 1rem;
    color:#09122C;
    font-weight:bold;
    font-family:Big Shoulders Stencil;
}


